body {
    padding: 10px;
}

img {
    max-width: 250px;
}

.listing {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 270px;
}

.listing img {
    max-width: 250px;
}

.full-listing {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.full-listing img {
    max-width: 50%;
}