{% extends 'auctions/layout.html' %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>

    <div class="listing">
        <p>Image: <img src="{{ listing.image_url }}"></p>
        <p>{{ listing.description }}</p>
        <p>Current bid: ${{ listing.current_bid }}</p>
        <!-- Add or remove from watchlist -->
        {% if listing in watchlist %}
            <a href="{% url 'remove_watchlist' listing.id %}">Remove from watchlist</a>
        {% else %}
            <a href="{% url 'add_watchlist' listing.id %}">Add to watchlist</a>
        {% endif %}
        <p>Listed by: {{ listing.user }}, on {{ listing.creation_date }}</p>
        <p>Category: {{ listing.category }}</p>             
    </div>
{% endblock %}
